<!-- <h3 [class]="todo?.active?'nostrick':'strick'">{{todo?.title}}</h3> -->
<!-- <div class="my-3">
    
    <h3 [ngClass]="{'strick':!todo?.active}">{{todo?.title}}</h3>
    <p [ngClass]="{'strick':!todo?.active}">{{todo?.desc}}</p>
    <div class="form-group form-check">
        <input [checked]="!todo?.active" type="checkbox" class="form-check-input" id="active{{i}}" (click)="onCheckbox(todo)">
        <label class="form-check-label" for="active{{i}}">Done</label>
      </div>
    <button class="btn btn-danger" (click)="onClick(todo)">Delete</button>

</div> -->

    <div class="cards">
      <div class="cards__row">
        <div class="card">
          <div class="card__header">
            <h3 class="card__title" [ngClass]="{'strick':!todo?.active}">{{todo?.title}}</h3>
            <div class="card__remove-icon">
              
            </div>
          </div>
          <div class="card__body">
            <p class="card__text" [ngClass]="{'strick':!todo?.active}">{{todo?.desc}}</p>
          </div>
          <div class="card__footer">
            <div class="footer__item">
              <button class="btn btn-danger" (click)="onClick(todo)">Delete</button>
            </div>
            <div class="footer__item">
              <input [checked]="!todo?.active" type="checkbox" class="material-icons-outlined" id="active{{i}}" (click)="onCheckbox(todo)">
              <label class="form-check-label" for="active{{i}}">Done</label>
            </div>
          </div>
          <div class="card__dropdown">
            <div class="card__dropdown__toggler">
              <span class="material-icons-outlined"> more_vert </span>
            </div>
            <div class="card__dropdown__menu">
              <form class="card__dropdown__form">
                <div class="card__dropdown__form__group">
                  <input
                    type="radio"
                    name="filter_by_color"
                    id="dropdownFilterColor1"
                    class="card__dropdown__form__radio"
                  />
                  <label for="dropdownFilterColor1">Red</label>
                </div>
                <div class="card__dropdown__form__group">
                  <input
                    type="radio"
                    name="filter_by_color"
                    id="dropdownFilterColor2"
                    class="card__dropdown__form__radio"
                  />
                  <label for="dropdownFilterColor2">Blue</label>
                </div>
                <div class="card__dropdown__form__group">
                  <input
                    type="radio"
                    name="filter_by_color"
                    id="dropdownFilterColor3"
                    class="card__dropdown__form__radio"
                  />
                  <label for="dropdownFilterColor3">Green</label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  